*{
    box-sizing:border-box;
}
body{
   background-color: white;
}


/* Style the navigation bar */
.navbar {
  width: 100%;
  overflow: auto;
  text-align: right;
  
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin:7px;
  

}

/* Navbar links on mouse-over */
.navbar a:hover {
 background-color: green;
}

/* Current/active navbar link */
.active {
  color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* Add urbannaija logo */
.logo{
    width:15%;
    margin-left:35%;
  }

  

  
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
.text {
    color:#f1f1f1;
    font-size: 45px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

.active, .dot:hover {
    background-color: #717171;
  }
  
 /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
 @-webkit-keyframes fade {
    from {opacity: .5} 
    to {opacity: 5}
  }
  
 @keyframes fade {
    from {opacity: .5} 
    to {opacity: 5}
  }


.text{
    position:absolute;
    top:40%;
    left:2%;
    animation-name: bounceIn;
    animation-duration: 1s;
  }
  
  @keyframes bounceIn{
    from{top:80%;}
    to{top:30%}
  }


h1{
    font-size:50px;
    margin-top:-53%;
    color:black;
    margin-left: 3%;
  }
 
.search-container button:hover {
    background: #ccc;
    
  }
.search-container{
    position:absolute;
    top:290%;
    right:-30%;
    width:50%; 
  }
  /* Add styles to video iframe */
  iframe:hover{
    transform:scale(1.2);
  }
  
 /* Add style to text in footer */
  h2{
    text-align:center;
    font-size:25px;
    position:absolute;
    top:19%;
    left:35%;
    color:white;
 }





 

